@font-face {
    font-family: 'Avengeance Mightiest Avenger';
    font-style: normal;
    font-weight: 400;
    src: local('Avengeance Mightiest Avenger'), url('https://fonts.cdnfonts.com/s/48448/AVENGEANCE MIGHTIEST AVENGER.woff') format('woff');
}


